<footer class="shadow md:px-6 md:py-8 bg-gray-800">
        <div class="ml-4 sm:flex sm:items-center sm:justify-center md:space-x-96">
            <a href="/Accueil" class="flex items-center mb-4 sm:mb-0">
                <img src="../../assets/air-quality.png" class="mr-3 h-8 text-white" alt="AirShare Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">AirShare</span>
            </a>
            <ul class="flex flex-wrap items-center justify-around mb-6 text-sm text-gray-400 sm:mb-0 w-4/5 mx-auto">
                <li>
                    <a routerLink="/Accueil" class="mr-4 hover:underline md:mr-6 ">Accueil</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Articles</a>
                </li>
                <li>
                    <a href="/login" class="hover:underline">Login</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-gray-400 sm:text-center">© 2022 <a href="/Accueil" class="hover:underline">AirShare David/Victor/Kevin</a>. Tous droits réservés.
        </span>
</footer>
