
<div class="map-container font-mono">
  <div class="map-frame">
    <div id="map" class="w-96 h-96"></div>
    <input #inputCity type="text" name="city" class="rounded-full p-0"/>
    <button class="p-1 rounded-full bg-blue-500 text-white" (click)="receiveData(inputCity.value)" type="submit">
      Validez
    </button>
  </div>
  <input #code type="text" class="rounded-full p-0" name="census" id="census" placeholder="Enter a city">
  <button class="p-1 rounded-full bg-blue-500 text-white" (click)="getInseeCode(code.value)">Validez</button>
</div>
