.circle-green {
  background: #009966;
  width: 20px;
  height:20px;
  display: inline-block;
  border-radius: 50%;
}

.circle-yellow {
  background: #FFDE33;
  width: 20px;
  height:20px;
  display: inline-block;
  border-radius: 50%;
}

.circle-orange {
  background: #FF9933;
  width: 20px;
  height:20px;
  display: inline-block;
  border-radius: 50%;
}

.circle-red {
  background: #009966;
  width: 20px;
  height:20px;
  display: inline-block;
  border-radius: 50%;
}

.circle-purple {
  background: #660099;
  width: 20px;
  height:20px;
  display: inline-block;
  border-radius: 50%;
}

.circle-dark {
  background: #7E0023;
  width: 20px;
  height:20px;
  display: inline-block;
  border-radius: 50%;
}

#map {
  height: 800px;
}

