.map-container {
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 20%;
  width: 100px;
}

.map{
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 100%;
}
