<div class="admin flex flex-row font-mono">
  <div class="sidebar basis-1/5 text-white text-xl min-h-screen bg-indigo-600 px-10 py-10">
    <div class="flex flex-col my-5">
      <div class="dashboard flex flex-row items-center my-8">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300 mr-5" fill="none"
             viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"/>
        </svg>
        <a class="" routerLink="./dashboard" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
      </div>
      <div class="manage-users flex flex-row items-center my-8">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300 mr-5" fill="none"
             viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
        </svg>
        <a class="" routerLink="./users" routerLinkActive="active">Manage Users</a>
      </div>
      <div class="manage-posts flex flex-row items-center my-8">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300 mr-5" viewBox="0 0 20 20"
             fill="currentColor">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
        </svg>
        <a class="" routerLink="./posts" routerLinkActive="active">Manage Posts</a>
      </div>
      <div class="manage-posts flex flex-row items-center my-8">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300 mr-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
        </svg>
        <a class="" routerLink="./categories" routerLinkActive="active">Manage Categories</a>
      </div>
    </div>
  </div>
  <div class="min-h-full basis-4/5">
    <nav class="bg-amber-200">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-end h-16">
          <div class="flex items-center">
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">

                <a routerLink="/Accueil" routerLinkActive="active"

                   class="text-amber-600 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Back
                  To Site</a>
                <a routerLink="/logout" routerLinkActive="active"
                   class="text-amber-600 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Disconnect</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
