<h1 class="w-4/6 mx-auto text-center">Forum</h1>

<div id="forum_container" class=" mt-6">
        <div id="forum-search" class=" text-center">
                <label for="input-search">Rechercher</label>

                <input type="text" name="input-search" id="input-search" class="rounded-full">

        </div>  
</div>     
<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-4/6 mx-auto mt-6 mb-16" >
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                                <th scope="col" class="px-6 py-3">
                                        Nom
                                </th>
                                <th scope="col" class="px-6 py-3">
                                        crée par
                                </th>
                                <th scope="col" class="px-6 py-3">
                                        Date
                                </th>
                        </tr>
                </thead>
                <tbody>
                        <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                        Convivialité sur le forum: respect de l'article 2 de la charte
                                </th>
                                <td class="px-6 py-4">
                                        Modérateur
                                </td>
                                <td class="px-6 py-4">
                                        01/09/22
                                </td>
                        </tr>
                        <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                        Le CO2 en Auvergne crève le plafond!!!!
                                </th>
                                <td class="px-6 py-4">
                                        Whitor65
                                </td>
                                <td class="px-6 py-4">
                                        il y a 2min
                                </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                        Les contraintes de recycleages fatales pour les éolienne?
                                </th>
                                <td class="px-6 py-4">
                                        Black
                                </td>
                                <td class="px-6 py-4">
                                        02/09/22
                                </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                        Emission de CO2 du transport fluvial
                                </th>
                                <td class="px-6 py-4">
                                        Bleck
                                </td>
                                <td class="px-6 py-4">
                                        03/09/22
                                </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                        Faire ses pâtes dans l'eau froide
                                </th>
                                <td class="px-6 py-4">
                                        Yves36
                                </td>
                                <td class="px-6 py-4">
                                        04/09/22
                                </td>
                        </tr>
                </tbody>
        </table>

        <div class="mt-16 mb-16">
                <nav aria-label="Page navigation example" class=" flex justify-center">
                        <ul class="flex flex-row items-center">
                                <li>
                                        <a href="#" class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                                <span class="sr-only">Previous</span>
                                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                        </a>
                                </li>
                                <li>
                                        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                                </li>
                                <li>
                                        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                                </li>
                                <li>
                                        <a href="#" aria-current="page" class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                                </li>
                                <li>
                                        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
                                </li>
                                <li>
                                        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
                                </li>
                                <li>
                                        <a href="#" class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                                <span class="sr-only">Next</span>
                                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        </a>
                                </li>
                        </ul>
                </nav>
        </div>
</div>
