<h2 class="mt-12">Connexion</h2>

<form class="form">
        <label for="mail">E-mail</label>
        <input type="text" name="mail" id="input_mail">
        <label for="password">Mot-de-passe</label>
        <input type="password" name="password" id="input-password">
        <div class="mt-4">
                <a class="transition ease-in hover:underline hover:text-cyan-500" routerLink="/reset">J'ai oublié mon mot-de-passe</a>
        </div>

        <button  class="bg-green-500 transition ease-in hover:bg-cyan-500 text-white font-bold py-2 px-4 rounded" type="button">Valider</button>
</form>
