<section class="bg-[url('/assets/meteo.jpg')] bg-no-repeat bg-cover h-screen static font-mono">
  <div class="absolute left-10 top-64">
    <div class="text-white lg:w-2/3">
      <h1 class="text-6xl">Bienvenue sur AirShare</h1>
      <p class="text-xl">
        Ce site vous propose différents outils afin de visualiser la météo, la qualité de l'air de votre région ainsi que le recensement de votre région, l'utilisation de ces différents outils nécessitera de créer un compte.
      </p>
      <div class="flex flex-col md:w-1/5 text-center mt-4">
        <a routerLink="/inscription" class="bg-blue-500 p-2 mb-2 hover:-translate-y-1 transition rounded-md text-white">Créer un compte</a>
        <a routerLink="/forum" class="bg-blue-500 p-2 hover:-translate-y-1 transition rounded-md text-white">Blog</a>
      </div>
    </div>
 </div>
</section>
<div class="text-3xl text-center mb-5 mt-2">
  <h2>Présentation des différentes fonctionnalités que nous vous proposons</h2>
</div>
<section class="flex justify-center space-x-52">

  <div class="border-black w-96">
    <img [src]="'./assets/eclair.jpg'" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum a molestias temporibus molestiae minima aliquam? Unde consectetur, praesentium quia libero voluptates corporis. Itaque dicta aliquam eveniet pariatur molestiae vero!</p>
  </div>
  <div class="border-black w-96 shadow-xl rounded-md">
    <img  [src]="'./assets/wind.jpg'" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur accusamus amet modi cupiditate dolor eaque nemo eos corporis quam non vitae magnam, mollitia necessitatibus voluptate consequuntur eum. Laudantium, eaque qui.</p>
  </div>
</section>


