<div class="posts h-screen font-mono px-20 py-20 flex flex-col basis-4/5 bg-gray-50">
  <h3 class="text-3xl font-bold pb-10">Dashboard</h3>
  <div class="grid grid-cols-3">
    <div class="card rounded-lg shadow mr-10 my-5 px-10 py-10 bg-white">
      <h4 class="mb-5 text-gray-600 text-xl">New users this week</h4>
      <p class="font-extrabold text-3xl">3</p>
    </div>
    <div class="card rounded-lg shadow mr-10 my-5 px-10 py-10 bg-white">
      <h4 class="mb-5 text-gray-600 text-xl">New posts this week</h4>
      <p class="font-extrabold text-3xl">46</p>
    </div>
    <div class="card rounded-lg shadow mr-10 my-5 px-10 py-10 bg-white">
      <h4 class="mb-5 text-gray-600 text-xl">Users growth compared to last month</h4>
      <div class="percentage flex flex-row items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-lime-600" fill="none" viewBox="0 0 24 24"
             stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"/>
        </svg>
        <p class="text-lime-600 font-extrabold text-2xl">+23%</p>
      </div>
    </div>
  </div>
  <div class="rounded-md shadow text-md mt-10 overflow-scroll">
    <div class="grid grid-cols-2 items-center px-8 py-3 bg-gray-50 font-bold border-b border-gray-300">
      <dt class="mx-5">Data Saved</dt>
      <dd class="mx-5">Time and Date</dd>
    </div>
    <div id="users-list">
      <div class="grid grid-cols-2 items-center px-5 py-8 border-b border-gray-200 text-md bg-white">
        <dt class="mx-5 basis-1/2">Census Data</dt>
        <dd class="mx-5 basis-1/2 text-gray-800">20/05/2022 at 13:23</dd>
      </div>
      <div class="grid grid-cols-2 items-center px-5 py-8 border-b border-gray-200 text-md bg-white">
        <dt class="mx-5 basis-1/2">Meteo Data</dt>
        <dd class="mx-5 basis-1/2 text-gray-800">20/05/2022 at 13:23</dd>
      </div>
      <div class="grid grid-cols-2 items-center px-5 py-8 border-b border-gray-200 text-md bg-white">
        <dt class="mx-5 basis-1/2">Air Data</dt>
        <dd class="mx-5 basis-1/2 text-gray-800">20/05/2022 at 10:32</dd>
      </div>
      <div class="grid grid-cols-2 items-center px-5 py-8 border-b border-gray-200 text-md bg-white">
        <dt class="x-5 basis-1/2">Census Data</dt>
        <dd class="mx-5 basis-1/2 text-gray-800">19/05/2022 at 13:23</dd>
      </div>
      <div class="grid grid-cols-2 items-center px-5 py-8 border-b border-gray-200 text-md bg-white">
        <dt class="mx-5 basis-1/2">Meteo Data</dt>
        <dd class="mx-5 basis-1/2 text-gray-800">19/05/2022 at 13:23</dd>
      </div>
      <div class="grid grid-cols-2 items-center px-5 py-8 border-b border-gray-200 text-md bg-white">
        <dt class="mx-5 basis-1/2">Air Data</dt>
        <dd class="mx-5 basis-1/2 text-gray-800">19/05/2022 at 10:32</dd>
      </div>
    </div>
  </div>
</div>
